@media (max-width: 1200px){
    .promo{
        &__header{
            font-size: 39px;
        }
        &__subheader{
            font-size: 20px;
        }
    }
    
}
@media (max-width:768px){
    .header{
        
        &__logo{
            width: 200px;
        }
    
    }

    .promo{
        padding: 21px 20px 92px 20px;
        &__wrapper{
            align-items: center;
        }
    }

    .advantages{
        &__wrapper{
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    .consultation{
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
    }
    .feed-form {
        margin-left: auto;
        margin-right: auto;
    }

 
    .slick-prev, .slick-next{
        display: none;
    }
    

    .catalog{ 
        &__content {
            flex-direction: column;
            
        }
        &-item {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .answers {
        &__text {
            font-size: 13px;
        }
        &__wrapper {
            height: 200px;
        }
    }
}


@media (max-width: 426px){
    .header{
        &__official{
            display: none;
        }
        &__logo{
            width: 150px;
        }
        &__phone {
            font-size: 14px;
            line-height: 0.8;
        }
    }

    .promo{
        &__header{
            font-size: 31px;
        }
        &__subheader{
            font-size: 18px;
            line-height: 0.8;
        }
        &__icons{
            justify-content: space-around;
        }
    }

    .consultation {
        &__header {
            font-size: 30px;
        }
    }

    .carousel {
        overflow: hidden;
        &__inner {
            width: 425px;           
        }
        img {
            width: 300px;
            text-align: center;
        }
        
    }

    .slick-dots {
        display: flex;
    }

  
    
    .catalog{
        &__header {
            font-size: 27px;
        }
        &__tab {
            width: 112px;
            font-size: 12px;
        }
    }

    .answers {
        &__text {
            font-size: 9px;
        }
    }
    .map {
        iframe {
            width: 100%;
        }
    }
}

@media (max-width: 375px){
    .header{
        
        &__contacts{
            display: none;
            margin-left: 5px;
        }
        &__logo{
            justify-content: center;
            width: 200px;  
        }
    }
    .promo{
        
        &__header{
            font-size: 27px;
        }
        &__subheader{
            display: none;
        }
        &__icons{
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            margin-top: 18px;
        }
    }
    .advantages{
        &__header{
            font-size: 26px;
        }
    }

    .answers {
        &__text {
            font-size: 10px;
        }
        &__logo {
            width: 100px;
            height: 100px;
        }
    }

    .map {
        padding: 0;
        &__address {
            margin-top: 15px;
        }
        &__phone {
            margin-top: 15px;
        }
        &__wrapper {
            height: 250px;
            width: 300px;
        }
        &__pic {
            margin-top: 25px;
        }
    }
}
